<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GitHub Clone.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3DE097171BF111BA0066BDDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DE0972B1BF111BA0066BDDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DE097361BF111BA0066BDDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
